.list{
    
    font-size: 14px;
    width: 100%;
    /* border-right: 2px solid #ccc; */
    float: left;

}
.list li{
    padding: 10px;
}
.right{
    width: 70%;
    /* float: right; */
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    right: 10px;
}
.likes{
    color: #5CC2F2;

}
.title{
    float: left;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style: none;
}
.box{
    border-right: 2px solid #ccc;
    height:400px;
    width: 20%;
}
.list2{
    border-right: 2px solid #ccc;
    width: 20%;
}